# package directories
node_modules

# config
config.json

# data
Tech/
TechTree/
Audio2DScripts.xml
AudioDefines.xml
CIV4TechInfos.xml
CIV4GameTextInfos.xml
TechnologyQuotes.xml
Technologies.xml
CIV4GameTextInfos_Objects.xml
TechTree_Atlas.*
atlas.js
